.postBlock{
    padding: 10px;
}

.posts{
    margin-top: 10px;
}

.myPosts{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}


textarea{
    width: 350px;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

 button{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    
}

.postItem{
    padding-top: 10px;
}