.dialogs{
    display: flex;
}

.dialogs_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 200px;
    padding: 10px;
    
}

.messages{
    padding: 10px;
}