.message {
    max-width: fit-content;
}

.messageItem {
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.messageText {
    padding: 3px;
}

.messageTime {
    font-size: 10px;
    align-self: flex-end;
}